Pdf and CV analyzer
{
  "name": "Resume Analyzer",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Resume: {{ $('Extract from File').item.json.text. }}",
        "options": {
          "systemMessage": "=** Purpose **\nYou are a CV Evaluation and Summarization Agent Your task is to extract key information from a CV and output it in a clean, structured format. You must also evaluate how well the candidate fits a specified job role and assign a relevance score (1–10), followed by a short justification.\n\n** How It Works **\nWhen provided with a CV and job description, follow this process:\n\n1. Extract & Summarize Information from the CV\n\n- Educational Qualifications\nInclude degrees, institutions, and graduation years.\n\n- Job History\nList job titles, company names, employment dates, and 1 short sentence summarizing key responsibilities or achievements.\n\n- Skill Set\nList technical, soft, or role-specific skills — separated by commas.\n\n2. Evaluate the Candidate for the Job Role\n\n- Compare the candidate’s qualifications and experience with the job requirements.\n- Assign a score from 1–10 based on relevance:\n\n1–3: Weak match\n\n4–6: Moderate match\n\n7–8: Strong match\n\n9–10: Excellent match\n\n- Provide a brief justification for the score. Mention strengths and gaps directly related to the role — no assumptions or interpretations.\n\nmatch the content so this code can retrieve the data:\n\n// ---------- 1.  Read input text ----------\nconst inputData = $input.item.json.content;\n\n// ---------- 2.  Helper: extract a block that starts with a bold header ----------\nconst grabBlock = (text, header) => {\n  const re = new RegExp(`\\\\*{0,2}${header}\\\\*{0,2}\\\\s*([\\\\s\\\\S]*?)\\\\s*$`, 'i'); // capture to end of string\n  const m = re.exec(text);\n  return m ? m[1].trim() : null;\n};\n\n// ---------- 3.  Helper: extract a section that sits between bold headers ----------\nconst grabSection = (text, label) => {\n  /*  takes “**Label:** …” up to the next **Bold Header** or end  */\n  const re = new RegExp(\n    `\\\\*{0,2}${label}\\\\*{0,2}\\\\s*([\\\\s\\\\S]*?)(?=\\\\n\\\\*{0,2}[A-Z][^\\\\n]*\\\\*{0,2}\\\\s*|$)`,\n    'i'\n  );\n  const m = re.exec(text);\n  return m ? m[1].trim() : null;\n};\n\n// ---------- 4.  Pull the three simple sections ----------\nconst educationalQualifications = grabSection(inputData, 'Educational Qualifications:');\nconst jobHistory               = grabSection(inputData, 'Job History:');\nconst skillSet                 = grabSection(inputData, 'Skill Set:');\n\n// ---------- 5.  Pull the whole “Evaluation …” block ----------\nconst evaluationBlock = grabBlock(inputData, 'Evaluation');  // matches “**Evaluation …**”\n\n// ---------- 6.  From that block, get score & justification ----------\nlet score = null;\nlet justification = null;\n\nif (evaluationBlock) {\n  // score can be “Relevance Score: 7/10”  or  “Score: 7/10”\n  const scoreMatch = /(Relevance\\s*)?Score:\\s*(\\d{1,2})\\s*\\/\\s*10/i.exec(evaluationBlock);\n  score = scoreMatch ? scoreMatch[2] : null;\n\n  const justMatch = /\\*{0,2}Justification:\\*{0,2}\\s*([\\s\\S]*)/i.exec(evaluationBlock);\n  if (justMatch) {\n    justification = justMatch[1].trim();\n  }\n}\n\n// ---------- 7.  Return tidy JSON ----------\nreturn [\n  {\n    educationalQualifications,\n    jobHistory,\n    skillSet,\n    score,\n    justification\n  }\n];\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "version": 4,
      "position": [
        1376,
        256
      ],
      "id": "11a05719-2bcb-4bb7-9c71-cca3229c46e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        816,
        256
      ],
      "id": "9960e002-5d6c-4458-9799-3df14db4f8f7",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "resume"
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "cv",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        144,
        256
      ],
      "id": "746e3b82-1a06-4262-95d9-f6513e556ab7",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "cx4xJr91Npz8meGs",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\"\n    },\n    \"email\": {\n      \"type\": \"string\",\n      \"format\": \"email\"\n    },\n    \"phone_number\": {\n      \"type\": \"string\",\n      \"pattern\": \"^(\\\\+\\\\d{1,3}[- ]?)?\\\\d{10}$\"\n    }\n  },\n  \"required\": [\"name\", \"email\", \"phone_number\"]\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1040,
        256
      ],
      "id": "a176a937-04b3-4711-8a15-5c4477b91dd5",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1248,
        464
      ],
      "id": "e0941d1f-a1d3-4ea9-9920-769ed96635b4",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "vwOhvTYYiXxP5lkx",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ---------- 1.  Read input text ----------\nconst inputData = $input.item.json.content;\n\n// ---------- 2.  Helper: extract a block that starts with a bold header ----------\nconst grabBlock = (text, header) => {\n  const re = new RegExp(`\\\\*{0,2}${header}\\\\*{0,2}\\\\s*([\\\\s\\\\S]*?)\\\\s*$`, 'i'); // capture to end of string\n  const m = re.exec(text);\n  return m ? m[1].trim() : null;\n};\n\n// ---------- 3.  Helper: extract a section that sits between bold headers ----------\nconst grabSection = (text, label) => {\n  /*  takes “**Label:** …” up to the next **Bold Header** or end  */\n  const re = new RegExp(\n    `\\\\*{0,2}${label}\\\\*{0,2}\\\\s*([\\\\s\\\\S]*?)(?=\\\\n\\\\*{0,2}[A-Z][^\\\\n]*\\\\*{0,2}\\\\s*|$)`,\n    'i'\n  );\n  const m = re.exec(text);\n  return m ? m[1].trim() : null;\n};\n\n// ---------- 4.  Pull the three simple sections ----------\nconst educationalQualifications = grabSection(inputData, 'Educational Qualifications:');\nconst jobHistory               = grabSection(inputData, 'Job History:');\nconst skillSet                 = grabSection(inputData, 'Skill Set:');\n\n// ---------- 5.  Pull the whole “Evaluation …” block ----------\nconst evaluationBlock = grabBlock(inputData, 'Evaluation');  // matches “**Evaluation …**”\n\n// ---------- 6.  From that block, get score & justification ----------\nlet score = null;\nlet justification = null;\n\nif (evaluationBlock) {\n  // score can be “Relevance Score: 7/10”  or  “Score: 7/10”\n  const scoreMatch = /(Relevance\\s*)?Score:\\s*(\\d{1,2})\\s*\\/\\s*10/i.exec(evaluationBlock);\n  score = scoreMatch ? scoreMatch[2] : null;\n\n  const justMatch = /\\*{0,2}Justification:\\*{0,2}\\s*([\\s\\S]*)/i.exec(evaluationBlock);\n  if (justMatch) {\n    justification = justMatch[1].trim();\n  }\n}\n\n// ---------- 7.  Return tidy JSON ----------\nreturn [\n  {\n    educationalQualifications,\n    jobHistory,\n    skillSet,\n    score,\n    justification\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        256
      ],
      "id": "8fdc2add-3ff0-45eb-9425-5f69b162bec4",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a83198df-e404-4500-a4a0-36d3474af4a6",
              "name": "content",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        256
      ],
      "id": "2eed6760-6074-423a-9d1c-4cd6d503ba16",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1T5WnMygcoRe4F_8_g4NhYp9OVfHzhDuBz_V8_oQlz74",
          "mode": "list",
          "cachedResultName": "List of candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T5WnMygcoRe4F_8_g4NhYp9OVfHzhDuBz_V8_oQlz74/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T5WnMygcoRe4F_8_g4NhYp9OVfHzhDuBz_V8_oQlz74/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Information Extractor').item.json.output.name }}",
            "Email": "={{ $('Information Extractor').item.json.output.email }}",
            "Number": "={{ $('Information Extractor').item.json.output.phone_number }}",
            "Skill Set": "={{ $json.skillSet }}",
            "Qualifications": "={{ $json.educationalQualifications }}",
            "Job History": "={{ $json.jobHistory }}",
            "Score": "={{ $json.score }}",
            "Justification": "={{ $json.justification }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skill Set",
              "displayName": "Skill Set",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qualifications",
              "displayName": "Qualifications",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job History",
              "displayName": "Job History",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Justification",
              "displayName": "Justification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2192,
        256
      ],
      "id": "6f1f7748-bb01-47cb-8c4a-43fd00048117",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ImWFz5fHFowPMTIb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "cv0",
        "name": "={{ $json.from.value[0].name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1wV58NbXXmNi87C-HK8kDcNPruOHl1pbz",
          "mode": "list",
          "cachedResultName": "Job Resumes",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1wV58NbXXmNi87C-HK8kDcNPruOHl1pbz"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        368,
        256
      ],
      "id": "fc2bc5a0-7b2e-40a7-9c5f-20f4c0e63a4f",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Dv29Kpo9oED0jQG1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Extract Information & Evaluate the Candidate",
        "height": 468,
        "width": 1116,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        992,
        128
      ],
      "id": "bdbb43a4-8ff8-43bb-bf8e-41f6e0e00340",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Save Data",
        "height": 452,
        "width": 280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2128,
        128
      ],
      "id": "32b9cc55-cdfd-4928-8d86-fa87f150d3fd",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        592,
        256
      ],
      "id": "42a5dadb-a1ca-4cff-9208-04ded4a31dd1",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Dv29Kpo9oED0jQG1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Input Data in the Mail",
        "height": 432,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        144
      ],
      "typeVersion": 1,
      "id": "b6836fa7-8ba4-4293-8ecd-52a70584cbe8",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0e16f4bb-b1f0-4874-8afc-ee9966d7610a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0bc77d1e83eb271c93d761935713d306621ca9e7f4a7a40c1c9c6764db49cd61"
  },
  "id": "sePUyoGggkGXtqMA",
  "tags": []
}
